nav{
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    margin-bottom: 0px;
    
}
.navbar{
    background-color: brown;
    margin-top: 0px;
    
}
form{
    padding: 10px;
}

a:hover{
    border: 3px solid white;
    border-radius: 3px;
    padding-bottom: 8px;
    background-color: rgb(146, 8, 8);
}
span{
    margin-left: 10px;
    color: white;
}


section{
    display: flex;
    justify-content:space-between;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    margin: 20px 20px;
    background-color: rgb(222, 171, 182);    
}

.box3{
    margin-left: 0px;
    margin-right: 100px;
    border-radius: 200px;
    width: 120%;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 225, 61);
    padding: 40px;
}

.box2>p{
    font-size: 50px;
    color: yellow;
    font-family:Arial, Helvetica, sans-serif;
}
